<style>

#graphLdaDiv {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

</style>

  <div class="container">
      <select name="expSelect" id="expSelect" ng-model="vm.selectedExperiment" ng-change="vm.getExperimentResults()">
      <option value="" selected="selected">Select an experiment...</option>
      <option ng-repeat="option in vm.LDAExperiments" value="{{option.id}}">{{option.description}}</option>
      </select>
      <!--p>Next: <span class="btn" ng-click="vm.nextExperiment()"><i class="fa fa-step-forward" aria-hidden="true"></i></span></p--> 

  </div>

  <div id="graphLdaDiv">
    
  </div>



